<%- include('../../includes/navbar-admin.ejs',{page: 'article'}); %>
<div class="row" style="margin: 0px !important; padding-top: 50px">
    <div class="col-md-12">
        <h4 align="center">Kategori</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Tambah</button>
        <br />
        <br />
        <table class="table" id="tabel_kategori">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Score</th>
                    <th>Records</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% var monthNames = ["Jan", "Feb", "Mar", "Apr", "May","Jun","Jul", "Aug", "Sep", "Oct", "Nov","Dec"]; %> <% var no = 1; for(var i = 0; i < article.length; i++){ %>
                <tr>
                    <th scope="row"><%= no++ %></th>
                    <td><%= article[i].title %></td>
                    <td><%= article[i].body %></td>
                    <td><%= article[i].createdAt.getDate() + " " + monthNames[article[i].createdAt.getMonth()] +" "+ article[i].createdAt.getFullYear() %></td>
                    <td>
                        <a href="/user_game/edit_user/<%= article[i].id %>"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="/user_game/delete/<%= article[i].id %>" onclick='return confirm("Apa kamu yakin akan menghapus data ini?")'><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Player Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/user_game/add" method="post">
                    <div class="form-group">
                        <label for="player" class="col-form-label">Player</label>
                        <input type="text" class="form-control" id="player" name="player" />
                    </div>
                    <div class="form-group">
                        <label for="score" class="col-form-label">Score</label>
                        <input type="text" class="form-control" id="score" name="score" />
                    </div>
                    <div class="form-group">
                        <label for="record" class="col-form-label">Record</label>
                        <input type="text" class="form-control" id="record" name="record" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
